#Blog{
    width: 100%;
    /* height: 100%; */
    box-sizing: border-box;
}
.blog-head{
    width: 100%;
    /* height: 500px; */
    padding: 50px 100px;
    background-color: #ebf5ff;
}
#before-heading-blog span{
    color:  blue ;
}
.blog-head-left button{
    width: fit-content;
    background-color: #0ca464;
    color: white;
    font-size: 14px;
}
.blog-head-right img{
    height: 300px;
    border-radius: 10px;
    width: 500px;
    object-fit: cover;
}

.blog-list{
    padding: 20px 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#blog-list-heading{
    margin-bottom: 20px;
}
.list-one img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
}
.list-one p{
    background-color: whitesmoke;
    padding: 5px 10px;
    box-shadow: 1px -1px 2px rgba(128, 128, 128, 0.447);
    border-radius: 10px;
}

.related-blog{
    background-color: #ebf5ff;
    padding: 40px 100px ;

}
.related-blog-list{
    margin-top: 20px;
}
.related-blog-list-categorie{
    width: 360px;
    /* height: 450px; */
    overflow: hidden;
    padding: 20px;
    box-shadow: 1px 2px 3px rgba(128, 128, 128, 0.377);
    background-color: white;
}
.related-blog-list-categorie #related-img{
    width: 100%;
    object-fit: cover;
    object-position: top;
    height: 200px;
    border-radius: 10px;
}

.related-blog-list-categorie #related-content{
    color: #696984;
}
.related-footer{
    margin-top: 20px;
}
.related-footer p{
    color: #696984;
}


.marketing-blog-list .related-blog-list-categorie{
    width: 280px;
    padding: 10px;
}
.marketing-blog-list .related-blog-list-categorie #related-img{
    width: 100%;
    height: 180px;
}
.marketing-blog-list{
    gap: 10px;
}
